 #footer a:not(.service_all, .notice) {
      color: #888;
  }
 ul{   
    margin: 0;
    padding: 0;
  }
  footer{
    width: 1130px;
    height: 424px;
    margin: auto;
    padding: 0px 30px 92px 30px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  .notice_box{
    width: 100%;
    height: 48px;
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
  }
  
  .notice_box a{
  font-weight: bold;
  color: black;
  }
  
  .aside_box{
    flex: 2;
    display: flex; 
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
  }
  
  .area_user{
    flex: 4;
    line-height: 2em; /* 줄간격 */
  }
  
  .area_user_row{
    display: flex;
  }
  
  .area_user_row span{
    flex: 1;
  }
  
  .area_user_row ul{
    flex: 6;
  }
  
  .area_user_row ul > li {
    display: inline-block;  /* 수평 정렬 */
    margin-left: 8px;
  }
  
  .area_col {
    flex: 1;
    display: flex;
  }
  .area_col .ac_content {
    line-height: 20px;
  }
  .area_col .ac_img {
    width: 60px;
    height: 60px;
  }
  .bottom_box {
    flex: 3;
    padding-top: 20px;
    font-size: 14px;
  }
  .bottom_box ul > li {
    display: inline-block; /* 수평 */
    margin-left: 8px;
  }
  .bottom_box ul > li:first-child {
    margin-left: 0;
  }
  
  .bottom_box ul > li:last-child { /* Naver Corp. 굵게 */
    font-weight: bold;
  }
  
  /* 재사용 클래스 */
  .color_naver {
    color: #03cf5d;
  }
  .text_bold-13 {
    font-weight: bold;
    font-size: 13px;
  }
  
  .naver_whale, .flower {
      margin-left: 12px;
  }



  .service_all {
    color: #888;
  }

  .service_all::after {
    content: '';

    display: inline-block;
    width: 8px;
    height: 12px;

    background-image: url(https://s.pstatic.net/static/www/img/uit/2021/sp_main_57f073.png);
    background-size: 444px 439px;
    background-position: -408px -134px;
    background-repeat: no-repeat;
    vertical-align: top;
    
    margin-left: 10px;
    vertical-align: -2px;
  }

  .service_all:hover {
    color: black;
    text-decoration: underline;
  }