#top-banner3 {
    background-color: #f3f1ff;
    height: 49px;
}

.top-ad {
    position: relative;
    width: 1130px;
    margin: 0 auto;
}

.ad-page {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.whale {
    background: url(https://static-whale.pstatic.net/main/sprite-20210713@2x.png);
    background-repeat: no-repeat;

    background-size: 116px 112px;
    background-position: 0 -21px;

    display: inline-block;
    
    margin-top: 14px;

    float: left;
    width: 98px;
    height: 21px;

    vertical-align: top;
}

.banner-img {
    position: relative;
    padding-left: 48px;
    vertical-align: top;

    width: 303px;
}

.banner-text {
    padding-left: 8px;
    padding-right: 10px;
    font-size: 17px;

    line-height: 49px;
    letter-spacing: -0.25px;
}

.whale-download {
    position: relative;
    display: inline-block;

    text-decoration: none;

    font-size: 12px;

    width: 78px;
    height: 49px;

    vertical-align: top;

    color: white;

    font-weight: 700;

    letter-spacing: -0.5px;
}

.whale-download-btn {
    background-color: #7c56d5;

    display: block;

    line-height: 31px;

    text-align: center;

    margin: 9px 0;
    border-radius: 21px;
}

.banner-close {
    background-color: transparent;
    
    opacity: 0.7;
    color: #666;
    font-size: 11px;
    position: absolute;
    top: 0;
    right: 0;
    height: 49px;
    cursor: pointer;
}

.banner-close::after {
    width: 15px;
    height: 15px;
    margin-left: 4px;
    background-position: -98px -33px;
    display: inline-block;
    content: "";
    vertical-align: top;
    background-image: url(https://static-whale.pstatic.net/main/sprite-20210713@2x.png);
    background-repeat: no-repeat;
    background-size: 116px 112px;
}